echo-ws/src/main/resources/gr/dkateros/ws/contract/echo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema version="1.0" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.dkateros.gr/ws/echo" 
	targetNamespace="http://www.dkateros.gr/ws/echo"
	elementFormDefault="qualified">

	<xsd:element name="EchoInput" type="tns:SimpleMessage" />
	<xsd:element name="EchoOutput" type="tns:SimpleMessage" />

	<xsd:complexType name="SimpleMessage">
		<xsd:sequence>
			<xsd:element name="payload" type="xsd:string" minOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>